body{
	margin: 0;
	padding: 0;
	background-color: #24171C;
	height: 100%;
}

.navbar-collapse{
	background-color: #F7F8F9;
}

.navbar-brand {
	padding: 6px 15px;
}

.navbar-default{
	margin-bottom: 1em;
}

.navbar {
	border: none;
	border-bottom: 0em;
	margin-bottom: 0em;
}

.nav{
	margin-top: 0.5em;
}

.row{
	margin: 0;
}

.logotipo{
	height: 2em;
	width: auto;
	padding-right: 2.5em;
}

.search-movie{
	background-color: #F7F8F9;
	border-bottom: 1px solid #e7e7e7; 
	padding-bottom: 0.3em;
}

.navbar-form{
	padding: 0;
	padding-left: 0.5em;
	margin-top: 0;
	border: 0;
	-webkit-box-shadow: none;
}

.input-class{
	padding: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #24171C;
}

.glyphicon{
	color: #24171C;
}

.glyphicon-shopping-cart{
	font-size: 18px;
	padding-top: 0.32em;
	color: #24171C;
}

.search-col{
	padding: 0;
	margin-top: 0;
}

.pay-col{
	padding-right: 0.5em;
}

.nav-pills{
 	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 1.1em;
	padding-top: 0.7em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #E8C00B;
	color: #F7F8F9;
}

a{
	color: #F7F8F9;;
}

a:hover{
	color: #24171C;
}

.col-movie{
	padding: 0 0.2em;
}

img.movie{
	width: 100%;
	padding: 0.5em 0;
}

.nav.navbar-nav{
	padding-left: 1em;
}

/*data*/
#section-notice{
	padding: 2em 0 0 0;
}

.notice-movie-data{
	padding: 0 0 2em 0;
}

.img-data{
	width: 100%;
}


.title-data, .subtitle-data{
	font-weight: bold;
	color: #E8C00B;
}

.paragraph-data{
	color: #F7F8F9;
}
