body{
	margin: 0;
	padding: 0;
	background-color: #24171C;
	height: 100%;
}

.navbar-collapse{
	background-color: #F7F8F9;
}

.navbar-brand {
	padding: 3px 15px 2px 15px;
}

.navbar-default{
	margin-bottom: 1em;
}

.navbar {
	border: none;
	border-bottom: 0em;
	margin-bottom: 0em;
}

.nav{
	margin-top: 0.5em;
}

.row{
	margin: 0;
}

.logotipo{
	height: 2.6em;
	width: auto;
	padding-right: 2.5em;
}

.search-movie{
	background-color: #F7F8F9;
	border-bottom: 1px solid #e7e7e7; 
	padding-bottom: 0.3em;
}

.navbar-form{
	padding: 0;
	padding-left: 0.5em;
	margin-top: 0;
	border: 0;
	-webkit-box-shadow: none;
}

.input-class{
	padding: 0;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #24171C;
}

.glyphicon{
	color: #24171C;
}

.search-col{
	padding: 0;
	margin-top: 0;
}

.pay-col{
	padding-right: 0.5em;
}

.nav-pills{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 1.1em;
	padding-top: 0.7em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #E8C00B;
	color: #F7F8F9;
}

a{
	color: #F7F8F9;;
}

a:hover{
	color: #24171C;
}

.col-movie{
	padding: 0 0.2em;
}

img.movie{
	width: 100%;
	padding: 0.5em 0;
}

.nav.navbar-nav{
	padding-left: 1em;
}

/*data*/
#section-notice{
	padding: 2em 0 0 0;
}

.notice-movie-data{
	padding: 0 0 2em 0;
}

.img-data{
	width: 100%;
}


.title-data, .subtitle-data{
	font-weight: bold;
	color: #E8C00B;
}

.paragraph-data{
	color: #F7F8F9;
}
/* Registro */

.img-logo{
	display: inline-block;
	padding-top: 2.5em;
}

#registry{
	height: 90vh;
	width:100%;
	max-height: 100%;
	background-size: cover;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	text-align: center;
}

.input-email{
	margin-bottom: 2em;
}
.input-password{
	margin-bottom: 2em;	
}
.btn-login{
	width: 100%;
	color: #24171C;
	background-color: #E8C00B;
}
.btn-registry{
	width: 100%;
	color: #24171C;
	background-color: rgb(201, 203, 204);
}
.btn-registry:hover{
	background-color:#E8C00B; 
}

.nocount{
	color: #F7F8F9;
}

/* Modal */
.modal-content{
	background-color: #24171C;
}

.title-modal{
	margin-top: 0;
	color: #E8C00B;
	font-weight: bold;
}

.img-modal-movie{
	width: 100%;
}

.resumen-modal{
	color: #F7F8F9;
	padding: 0 15px;
}

.url-modal, .list-group-item{
	color: #24171C;
}

.img-logo2{	
	display: inline-block;
}
.btn-acceder{
	background-color: #E8C00B;
}

.btn-notificame{
	background-color: #E8C00B;
}

.close {
	color: #fff;
}

.list-group-item:first-child, .list-group-item:last-child{
	border-radius: 0;
}

/* Mis datos */

#icon-profile{
	color: #E8C00B;
	font-size: 2,5em;
	border: solid 1px #E8C00B;
	border-radius: 50%;
	padding: 20%;
	margin-top: 40%;
	text-align: center;
}

#notifications{
	display: inline-block;
}
.text-profile{
	color: #F7F8F9;
	margin-top: 5%;
}
.preferences {
	color: #F7F8F9;
}

/*Foto pelicula*/
.movie-poster {
	width: 200px;
	height: 300px;
}


/*Busqueda otras peliculas*/
#foundMovies .well {
	width: 100%;
	height: 450px;
	background-color: #F7F8F9;
	margin-top: 10%;
}
.searchPoster {
	width: 100%;
	height: 360px;
}
.movieTitle {
	margin-top: 10%;
	color: #24171C;
}
.error-msg {
	color: red;
}
/* Modal estrenos 2018 */

.text-movie{
	display: inline-block;
	padding-left: 2%;
}
.text-alert{
	display: inline-block;
	padding-left: 1%;
	color: #f73f3f;
}
.modal-icon{
	color: #f73f3f;
	padding-left: 2%;
}
/*input*/
.search-col{
	padding-left: 0;
}

#section-otros-titulos{
	padding-top: 1.5em;
}

/*Footer*/
.footer-container{
	padding: 0;
}

#myFooter {
    background-color: ;
    border-top: 1px solid #F7F8F9;
    color: #F7F8F9;
    padding-top: 50px;
    box-sizing: border-box;
	clear: both;
}

.footer-copyright {
    background-color: #E8C00B;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 2em;
}

.footer-copyright p {
    margin: 10px;
    color: #24171C;
    font-weight: bold;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.logo-footer{
	width: 100%;
}